

.bgk-primary{
    background: $color-primary;
}
.bgk-info{
    background: $color-info;
}
.bgk-success{
    background: $color-success;
}
.bgk-error{
    background: $color-error;
}
.bgk-warning{
    background: $color-warning;
}
.bgk-light{
    background: $color-light;
}

.is-primary{
    background: $color-primary;
}
.is-info{
    background: $color-info;
}
.is-success{
    background: $color-success;
}
.is-error{
    background: $color-error;
}
.is-warning{
    background: $color-warning;
}
.is-light{
    background: $color-light;
}
